  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
  body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    background-color: #FFE4E1;
  }
  
  .linkformtable{
    text-align: center;
  }

  #menu {
    display: flex;
    flex-direction: column;
    background-color:#80007F;
    max-width: 960px;
    margin: auto;
  }
 
  #menu a {
    color:  #fff;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
  }


  .header{
    text-align: center;
    letter-spacing: 14px;
    height: 3em;
    background: #BC8F9D;
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-size: 29px;
  }

  h1{
    max-width: 949px;
  }

  .links{
    max-width: 960px;
    margin: auto;
    background-color:#DB708D;
  }

  .form{
    max-width: 960px;
    margin: auto;
    background-color: #DB706E	;
    line-height: 27px;
    height: 39em;
  }

.table{
    max-width: 960px;
    margin: auto;
    height: 30em;
    background-color:  #DB70A2	;
}

#table2{
  margin: auto;
}

#form{
  margin-left: 10px;
}

table {
  font-family: 'Fira Code', monospace;
  text-align: left;
  border-collapse: separate;
  border-spacing: 9px;
  background:  #FFE4E1;
  color: #656665;
  border: 17px double #FFA500;
  border-radius: 20px;
  }
  th {
  font-size: 18px;
  padding: 10px;
  }
  td {
  background: #F5D7BF;
  padding: 10px;
  }

  footer{
    background-color:#BC8F9D;
    height: 40px;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 55px;
    padding-top: 15px;
  }

  .nch{
    background-color: #FF7F50;
  }

 @media (min-width: 1900px){
   #menu {
    display: flex;
    flex-direction: row;
    background-color:#80007F;
    max-width: 960px;
    margin: auto;
  }
 }
